*.o
*.exe
*.dll
*.res
.vscode/
.kdev4
ETCS.kdev4
.directory
Thumbs.db
error.log
MakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/