[submodule "libs/SDL_ttf"]
	path = libs/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "libs/liborts"]
	path = libs/liborts
	url = https://github.com/cesarBLG/liborts
[submodule "libs/c-ares"]
	path = libs/c-ares
	url = https://github.com/c-ares/c-ares/
